body {
    background-image: url("ogorbatchground.gif");
}

#ogortitle { 
font-family: arial;
font-size:2em;
font-weight:bold;
background: none;
color:RebeccaPurple;
animation: princess 2s infinite;
animation-timing-function: cubic-bezier(0.25, 0.85, 0.4, 1);
}

.prinzessin mark:nth-child(1) { animation-delay:0s; display:inline-block;}
.prinzessin mark:nth-child(2) { animation-delay:0.2s; display:inline-block;}
.prinzessin mark:nth-child(3) { animation-delay:0.4s; display:inline-block; }
.prinzessin mark:nth-child(4) { animation-delay:0.6s; display:inline-block;}
.prinzessin mark:nth-child(5) { animation-delay:0.8s; display:inline-block;}
.prinzessin mark:nth-child(6) { animation-delay:1s; display:inline-block;}
.prinzessin mark:nth-child(7) { animation-delay:1.2s; display:inline-block;}
.prinzessin mark:nth-child(8) { animation-delay:1.4s; display:inline-block;}
.prinzessin mark:nth-child(9) { animation-delay:1.6s; display:inline-block;}
.prinzessin mark:nth-child(10) { animation-delay:1.8s; display:inline-block;}

@-webkit-keyframes princess {
from { transform:scale(0.60); color:RebeccaPurple; }
50% { transform:scale(1); color:hotpink; }
to { transform:scale(0.60); color:RebeccaPurple; }
}

@keyframes princess {
from { transform:scale(0.60); color:RebeccaPurple; }
50% { transform:scale(1); color:hotpink; }
to { transform:scale(0.60); color:RebeccaPurple; }
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px;
    width: 1000px;
    align-items: center;
    margin: auto;
}

.header {
    flex-direction: column;
    height: 200px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.main {
    text-align: center;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}

.footer {
    text-align: center;
    width: 1000px;
    color: white;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;

}

.news {
    display: flex;
    flex-direction: column;
}

.news-main {
    text-align: left;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ogornews {
    color: grey;
}

button {
    padding: 0 20px;
    cursor: pointer;

}

#back-btn, #next-btn {
    align-self: center;
    padding: 3px 20px;
}

#news-img {
    padding: 10px;
    align-self: flex-start;
}

#news-content, #news-next {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
a {
  color: MediumPurple;
  font-weight: bold;
}

p {
    font-size: 20px;
}

#links {
    font-size: 14px;
}

