body {
    background-image: url('https://cdn.discordapp.com/attachments/1033667286688595979/1461004140799852718/adwdvt.gif?ex=6968f9a3&is=6967a823&hm=bd07333ca4272d001eea8f48c18216061eddade38b3e83eadcfce64ef1768aa7&');
}

#ogortitle { 
font-family: arial;
font-size:2em;
font-weight:bold;
background: none;
color:RebeccaPurple;
animation: princess 2s infinite;
animation-timing-function: cubic-bezier(0.25, 0.85, 0.4, 1);
}

.prinzessin mark:nth-child(1) { animation-delay:0s; display:inline-block;}
.prinzessin mark:nth-child(2) { animation-delay:0.2s; display:inline-block;}
.prinzessin mark:nth-child(3) { animation-delay:0.4s; display:inline-block; }
.prinzessin mark:nth-child(4) { animation-delay:0.6s; display:inline-block;}
.prinzessin mark:nth-child(5) { animation-delay:0.8s; display:inline-block;}
.prinzessin mark:nth-child(6) { animation-delay:1s; display:inline-block;}
.prinzessin mark:nth-child(7) { animation-delay:1.2s; display:inline-block;}
.prinzessin mark:nth-child(8) { animation-delay:1.4s; display:inline-block;}
.prinzessin mark:nth-child(9) { animation-delay:1.6s; display:inline-block;}
.prinzessin mark:nth-child(10) { animation-delay:1.8s; display:inline-block;}

@-webkit-keyframes princess {
from { transform:scale(0.60); color:RebeccaPurple; }
50% { transform:scale(1.5); color:hotpink; }
to { transform:scale(0.60); color:RebeccaPurple; }
}

@keyframes princess {
from { transform:scale(0.60); color:RebeccaPurple; }
50% { transform:scale(1.5); color:hotpink; }
to { transform:scale(0.60); color:RebeccaPurple; }
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px;
    width: 1000px;
    align-items: center;
    margin: auto;
}

.header {
    flex-direction: column;
    height: 200px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.main {
    text-align: center;
    height: 2000px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
}

a {
  color: hotpink;
  font-weight: bold;
}


