body {
    background-image: url(://dl.glitter-graphics.com/pub/179/179771wwu40wmypq.gif);
}

.ogortitle { 
font-family: arial;
font-size:2em;
font-weight:bold;
background: none;
color:black;
animation: princess 2s infinite;
animation-timing-function: cubic-bezier(0.25, 0.85, 0.4, 1);
}

.prinzessin mark:nth-child(1) { animation-delay:0s; display:inline-block;}
.prinzessin mark:nth-child(2) { animation-delay:0.2s; display:inline-block;}
.prinzessin mark:nth-child(3) { animation-delay:0.4s; display:inline-block; }
.prinzessin mark:nth-child(4) { animation-delay:0.6s; display:inline-block;}
.prinzessin mark:nth-child(5) { animation-delay:0.8s; display:inline-block;}
.prinzessin mark:nth-child(6) { animation-delay:1s; display:inline-block;}
.prinzessin mark:nth-child(7) { animation-delay:1.2s; display:inline-block;}
.prinzessin mark:nth-child(8) { animation-delay:1.4s; display:inline-block;}
.prinzessin mark:nth-child(9) { animation-delay:1.6s; display:inline-block;}
.prinzessin mark:nth-child(10) { animation-delay:1.8s; display:inline-block;}

@-webkit-keyframes princess {
from { transform:scale(0.90); color:black; }
50% { transform:scale(1); color:hotpink; }
to { transform:scale(0.90); color:black; }
}

@keyframes princess {
from { transform:scale(0.90); color:black; }
50% { transform:scale(1); color:hotpink; }
to { transform:scale(0.90); color:black; }
}